<article class="article content gallery" itemscope itemprop="blogPost">
    <h1 class="article-title is-size-3 is-size-4-mobile" itemprop="name">
        <% if (index) { %>
            <a href="<%- url_for(post.link ? post.link : post.path) %>" itemprop="url">
                <%= post.title %>
            </a>
            <% } else { %>
                <%= post.title %>
                    <% } %>
    </h1>
    <div class="article-meta columns is-variable is-1 is-multiline is-mobile is-size-7-mobile">
                <% if (post.author){ %>
                    <span class="column is-narrow ">
                        <span class="badge badge-pill badge-warning">转载</span>
                    </span>
                    <% } else { %>
                        <span class="column is-narrow ">
                            <span class="badge badge-pill badge-success">原创</span>
                        </span>
                        <% } %>
                <span class="column is-narrow">
                    <i class="fa fa-calendar-o"></i>
                    <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
                        <%= zh_date(post.date) %>
                    </time>
                </span>
                <!-- <% if (post.categories && post.categories.length){ %>
        <span class="column is-narrow article-category">
            <i class="far fa-folder"></i>
            <%- (post._categories || post.categories).map(category =>
                    `<a class="article-category-link" href="${url_for(category.path)}">${category.name}</a>`)
                    .join('<span>></span>') %>
        </span>
        <% } %> -->
                <% if (!has_config('article.readtime') || get_config('article.readtime') === true) { %>
                    <span class="column is-narrow">
                        <i class="fa fa-clock-o"></i>
                        <% let words = word_count(post._content); %>
                            <% let time = duration((words / 150.0) * 60, 'seconds') %>
                                <%= `${ time.humanize() } ${ __('article.read')} (${ __('article.about') } ${ words } ${ __('article.words') })` %>
                    </span>
                    <% } %>
    </div>
    <div class="article-entry is-size-6-mobile" itemprop="articleBody">
        <% if (post.excerpt && index){ %>
            <%- post.excerpt %>
                <!-- <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= __('article.read_more') %></a>
        </p> -->

                <div class="is-1 is-multiline is-mobile is-size-7-mobile" style="font-size: 0.8rem">
                    <% if (post.categories && post.categories.length){ %>
                        <span class="is-narrow article-category">
                            <!-- <i class="far fa-folder"></i> -->
                            <%- (post._categories || post.categories).map(category =>
                                    `<a class="article-category-span" href="${url_for(category.path)}">${category.name}</a>`)
                                    .join('<span>></span>') %>
                        </span>
                        <% } %>
                            <% if(has_config('leancloud_visitors.enable')){ %>
                                <span style="padding-left: 10px" class="is-narrow">
                                    <i class="fa fa-eye"></i>
                                    <span id="<%= url_for(post.path) %>" class="leancloud_visitors" data-title="<%- post.title %>">
                                    </span>
                                </span>
                                <% } %>

                </div>


                <% } else { %>
                    <%- post.content %>
                        <% } %>
    </div>
</article>